/* reset.css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* *** */

:root {
  --main-orange: #f1600d;

  /* --main-navy: #1a265a; */
  --main-navy: #f523af;

  --main-turquoise: #50a5b1;
  --secondary-navy: rgba(26, 38, 90, 0.5);
  --main-danger: #ff0000;
}

* {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Exo", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Franklin", sans-serif;
}

#root {
  min-height: 100vh;
  background-color: whitesmoke;
}

button {
  font-size: 18px;
  border: none;
  background-color: var(--main-orange);
  padding: 12px 24px;
  width: fit-content;
  border-radius: 24px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button.secondary {
  border: 1px solid var(--main-orange);
  background-color: white;
  color: var(--main-orange);
}

button.navy {
  border: none;
  background-color: var(--main-navy);
  color: white;
}

button:hover {
  cursor: pointer;
}

button a {
  color: white;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 8px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .App {
    min-height: 100vh;
  }
}

/* Page 404 */

.page-404-container {
  background-image: url(./assets/home-mobile.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 104px);
}

.page-404-div {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 80%;
}

.page-404-div p {
  color: var(--main-orange);
  font-size: 64px;
  font-family: exo;
  margin-bottom: 1rem;
}

.page-404-div span {
  font-size: 18px;
}

.page-404-div a {
  color: var(--main-orange);
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .page-404-container {
    min-height: calc(100vh - 69.5px);
    background-image: url(./assets/home.jpeg);
  }

  .page-404-div p {
    font-size: 96px;
  }

  .page-404-div span,
  .page-404-div a {
    font-size: 24px;
  }
}
