.home-container{
    background-image: url(../assets/home-mobile.jpeg);
    display: flex;
    min-height: calc(100vh - 241px);
}

.home-main{
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem 1rem;
}

.home-main h2{
    font-size: 32px;
    padding-bottom: 2rem;
}

.home-main h3{
    font-size: 28px;
    padding-bottom: 2rem;
}

.home-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 768px){
    .home-container{
        background-image: url(../assets/home.jpeg);
        display: flex;
        min-height: calc(100vh - 104px);
        flex-direction: row-reverse;
    }

    .home-main{
        width: 50%;
        margin: 2rem;
    }

    .home-main h2{
        font-size: 48px;
    }

    .home-button-container{
        flex-direction: row;
        gap: 0;
        justify-content: space-evenly;
    }
}