.all-categories-container {
  display: flex;
  flex-wrap: wrap;
}

.all-categories-div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 120px;
  display: flex;
  align-items: center;
}

.all-categories-div a {
  color: white;
  font-size: 24px;
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
  .all-categories-container {
    display: flex;
    flex-wrap: wrap;
  }

  .all-categories-div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: calc(100vh - 48px);
    width: initial;
    justify-content: center;
    transition: .5s;
    filter: opacity(0.5);
  }

  .all-categories-div:hover{
    flex: 3;
    filter: opacity(1);
  }

  .all-categories-div a {
    backdrop-filter: contrast(0.5);
    padding: 0.5rem;
  }
}
